# 视觉处理核心
ultralytics>=8.3.1
opencv-python>=4.5.0
faiss-cpu>=1.7.0
lapx>=0.5.2

# 深度学习框架 - 最稳定LTS版本
torch==2.1.2
torchvision==0.16.2
onnxruntime==1.16.1

# 几何计算
numpy<2.0.0
shapely>=2.0.0

# 系统工具
mediapipe>=0.10.3

# webapi
fastapi
uvicorn
# 选择性安装
# onnxruntime-gpu  # 如果需要将pt转成onnx模型则采用这个

# pip install -r ./requirements.txt -i http://mirrors.aliyun.com/pypi/simple/ --upgrade --default-timeout=100000 --no-cache-dir --trusted-host mirrors.aliyun.com --no-deps
